
h3      {
    font-family: 'Patrick Hand', cursive;
}
li      {
    font-family: 'Source Sans Pro', sans-serif;
}

sidebar {
    background-color: rgb(247, 242, 242);
}
#city-display {
    background-color: rgb(189, 209, 235);
}

.index-high {
    background-color: rgb(219, 149, 18);
}

.index-extreme {
    background-color: rgb(209, 21, 168);
}

li:hover {
    background-color: rgb(189, 209, 235);
    font-weight: bold;
}